.u-section-1 .u-sheet-1 {
  min-height: 674px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-11 {
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-12 {
  margin: 8px 875px 8px 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-12 {
    margin-right: 676px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-12 {
    margin-right: 456px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-12 {
    margin-right: 276px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-12 {
    margin-right: 76px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 580px;
}

.u-section-2 .u-image-1 {
  width: 639px;
}.u-section-3 .u-sheet-1 {
  min-height: 743px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/500.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 61px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 6rem;
  margin: 0 0 36px;
  padding: 37px 363px 37px 361px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-3 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 326px;
  }
}